header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    padding: 0 25px 0 105px;
    height: 10vh;
    color: white;
    

    ul {
        display: flex;
        gap: 60px;
        color: $grey-font;

        li {
            cursor: pointer;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                color: $color-2;
            }
        }
    }

    h2 {
        font-weight: 600;
    }
    
}