#presentation {
  height: 90vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  .presentation-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    padding: 0 80px;
    width: 100%;
    color: white;

    .presentation-left {
      margin-top: -150px;

      h1 {
        font-size: 3.5rem;
        line-height: 4.2rem;
      }

      p {
        margin: 25px 0 50px;
        font-size: 1.1rem;
        line-height: 1.70rem;
        color: $grey-font;
        font-weight: 400;
        max-width: 490px;
      }
      
      .social {
        display: flex;
        gap: 25px;
        
        svg {
          width: 25px;
          // fill: $black-title; /* couleur des icons */
          fill: white;
          transition: 0.3s;

          &:hover {
            fill: $color-2;
          }
        }
      }
    }
    
    .presentation-right {

      .circle-main {
        height: 2300px;
        width: 2050px;
        border-radius: 50%;
        background: $color-1;
        position: absolute;
        z-index: -1;
        top: -1460px;
        right: 440px;
      }
    }
  }
}


// .circle-main {
//   height: 1100px;
//   width: 1100px;
//   border-radius: 50%;
//   background: $color-1;
//   position: absolute;
//   z-index: -1;
//   top: -100px;
//   right: -450px;
// }

// .circle-main {
//   height: 2500px;
//   width: 2000px;
//   border-radius: 50%;
//   background: $color-1;
//   position: absolute;
//   z-index: -1;
//   top: -1680px;
//   right: 450px;
// }